.container {
    min-height: 100vh;
    display: grid;
  align-items: center;
  grid-gap: 1rem;
  justify-content: center;
   grid-template-columns: repeat(auto-fit, minmax(240px, 50vw));

}
.main {

    
}